* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(to right, tomato, yellowgreen);
}
.grid {
  position: absolute;
  width: 600px;
  height: 340px;
  border-radius: 20px;
  border: 20px solid #fff;
}
.block {
  position: absolute;
  border: 5px solid white;
  width: 100px;
  height: 20px;
  background-color: blue;
}
.user {
  position: absolute;
  border: 5px solid black;
  width: 100px;
  height: 20px;
  background-color: purple;
}
.ball {
  position: absolute;
  height: 20px;
  border: 2px solid yellow;
  width: 20px;
  background-color: red;
  border-radius: 100%;
}

.flexed {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: start;
  color: black;
  font-size: 15px;
  margin-right: 280px;
  border-radius: 20px;
  padding: 10px 200px;
  padding-right: 0;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
  gap: 30px;
}

main {
  margin-left: 400px;
  margin-top: 80px;
}
